<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title><%= title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/detail.css' />
</head>
<body>
<div class="app">
    <div class="detailInfo scondetailInfo">
        <div class="detailInfo-top row">
            <div class="detailInfo-top-logo col-xs-2"><img src="/public/images/programSecond.png"  alt=""/></div>
            <div class="detailInfo-top-coin col-xs-2">
                <span class="fontWhite">BTC</span>
                <span>比特币</span>
            </div>
            <div class="detailInfo-top-commit col-xs-5">
                <span class="fontWhite">10960</span>
                <span>关注数</span>
            </div>
        </div>
        <div class="detailInfo-bot row botdetal">
            <div class="col-xs-2 leg"></div>
            <div class="col-xs-10 ICO-tag obc"><span>平台币</span><span>物联网</span><span>数据存储</span></div>
        </div>
    </div>
    <div class="secondInfoDetail">
        <div class="secondInfoDetail-box">
            <div class="secondInfoDetail-coin row">
                <div class="cb1 col-xs-6"><span>代币</span><span class="fontwhite">XXX</span></div>
                <div class="cb2 col-xs-4"><span>当前价</span><span class="fontwhite">¥450</span></div>
                <div class="cb3 col-xs-2"><span>排名</span><span class="fontwhite">5</span></div>
                <div class="cb1 col-xs-6"><span>众筹</span><span class="fontwhite">2016-06-05</span></div>
                <div class="cb2 col-xs-4"><span>众筹价</span><span class="fontwhite">¥4</span></div>
                <div class="cb3 col-xs-2"><span class="fontwhites">X100</span></div>
                <div class="cb1 col-xs-6"><span>时间</span><span class="fontwhite">2016-06-05</span></div>
                <div class="cb2 col-xs-4"><span>首发价</span><span class="fontwhite">¥4</span></div>
                <div class="cb3 col-xs-2"><span class="fontwhites">X100</span></div>
            </div>
            <div class="secondInfoDetail-coin row">
                <div class="cb1 col-xs-6"><span>总市值</span><span class="fontwhite">¥450</span><span>亿</span></div>
                <div class="cb2 col-xs-6"><span>排名</span><span class="fontwhite">5</span></div>
                <div class="cb1 col-xs-6"><span>流通盘</span><span class="fontwhite">¥100</span><span>亿</span></div>
                <div class="cb2 col-xs-6"><span>排名</span><span class="fontwhite">3</span></div>
                <div class="cb1 col-xs-6"><span class="fontwhites">24h</span><span>成交</span><span class="fontwhite">¥14</span><span>亿</span></div>
                <div class="cb2 col-xs-6"><span>排名</span><span class="fontwhite">10</span></div>
                <div class="cb1 col-xs-6"><span>发行量</span><span class="fontwhite">450</span><span>亿</span></div>
                <div class="cb1 col-xs-6"><span>流通量</span><span class="fontwhite">100</span><span>亿</span></div>
                <div class="cb1 col-xs-6"><span>上架交易所</span><span class="fontwhite">130</span><span>家</span></div>
            </div>
        </div>
        <div class="program-instru">
            <h1>项目介绍</h1>
            <div class="program-instru-desc"><span>NEO</span> , 原名小蚁 , <span>2014</span>年正式立项 , <span>2015</span>年<span>6</span>月于<span>Github</span>实时开源 。自成立以来 , <span>NEO</span>团队亲历了区块链行业的高潮与低谷 , 数字货币市场的狂热与冷却 , 各国监管与政府态度的模糊与清晰。我们相信 , 科技是这个时代变迁的原动力 , 在这股动力的推动下 , 我们将会迈入新的“智能经济”时代。</div>
        </div>
        <div class="links">
            <p class="row">
                <span class="col-xs-4">官方网站链接：</span>
                <a href="https://www.jubi.com/coin/ans/" class="ao1 col-xs-8" target="_blank">https://www.jubi.com/coin/ans/</a>
            </p>
            <p>
                <span class="col-xs-4">项目书籍链接：</span>
                <a href="https://neo.org/" class="ao1 col-xs-8" target="_blank">https://neo.org/</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
