<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title><%= title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/detail.css' />
</head>
<body>
<div class="app">
    <div class="detailInfo">
        <%if(singleDetailData){%>
        <div class="detailInfo-top row">
            <div class="detailInfo-top-logo col-xs-2"><img src="/public/images/programSecond.png"  alt=""/></div>
            <div class="detailInfo-top-coin col-xs-2">
                <span class="fontWhite"><%= singleDetailData.detail.nameEn || ''%></span>
                <span><%= singleDetailData.detail.name || ''%></span>
            </div>
            <div class="detailInfo-top-commit col-xs-5">
                <span class="fontWhite">10960</span>
                <span>关注数</span>
            </div>
            <div class="detailInfo-top-more col-xs-2"><a href="/detail/detailSecond">更多&gt;</a></div>
        </div>
        <div class="detailInfo-bot row">
            <div class="col-xs-6 ICO-time"><span class="fontWhite">ICO时间</span><span><%=singleDetailData.detail.zcqssj || ''%></span></div>
            <div class="col-xs-6 ICO-average"><span class="fontWhite">ICO均价</span><span><%= singleDetailData.detail.zcjj || ''%></span></div>
            <div class="col-xs-6 ICO-storeTime"><span class="fontWhite">上架时间</span><span><%= singleDetailData.detail.fxsj || ''%></span></div>
            <div class="col-xs-6 ICO-publishPrice"><span class="fontWhite">发行价格</span><span><%= singleDetailData.detail.jg || ''%></span></div>
            <div class="col-xs-12 ICO-tag"><span>平台币</span><span>物联网</span><span>数据存储</span></div>
        </div>
        <div class="secondDetail"><a href="/detail/detailSecond"></a></div>
        <%}%>
    </div>
    <div class="listcont">
        <div class="ownlist">
            <div class="tableHeader row">
                <div class="col-xs-5 col1">交易对/<em>成交量</em><span class="upbtn"></span></div>
                <div class="col-xs-3 col2">最新价</div>
                <div class="col-xs-4 col3">涨跌</div>
            </div>
            <div class="rowlist">
                <div class="rowrankData row" data-toggle="modal" data-target="#checkprogram">
                    <div class="coinDesc col-xs-5">
                        <div class="coinDesc-co"><span>BTC</span>/USDT</div>
                        <div class="coinDesc-de"><span>币安</span><span>成交量2,567</span></div>
                    </div>
                    <div class="coinPrice col-xs-3">¥150000</div>
                    <div class="coinMarketPrice red col-xs-4"><span>¥179亿</span></div>
                </div>
                <div class="rowrankData row">
                    <div class="coinDesc col-xs-5">
                        <div class="coinDesc-co"><span>BTC</span>/USDT</div>
                        <div class="coinDesc-de"><span>币安</span><span>成交量2,567</span></div>
                    </div>
                    <div class="coinPrice col-xs-3">¥75000</div>
                    <div class="coinMarketPrice blue col-xs-4"><span>¥10879亿</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--交易对增删改查 modal-->
<%- include('exchangeProgram.html')%>
<script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
