<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title><%= title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/exchange.css' />
</head>
<body>
<div class="app">
    <div class="coinType">
        <div class="coinTypeNumber">
            <%for(var i = 0, len = coinNewType.length; i < len; i++){%>
            <a href="javascript:void(0)"
               class="coinaa <%if(coinNewType[i].bourse_name === tradeName){%>active<%}%>"><%= coinNewType[i].bourse_name%></a>
            <%}%>
        </div>
        <div class="navheader-r"><a href="/search"><img src="/public/images/searchBtn.png" alt="" /></a></div>
    </div>
    <div class="listcont">
        <div class="ownlist">
            <div class="tableHeader row">
                <div class="col-xs-5 col1">交易对/<em>成交量</em><span class="upbtn"></span></div>
                <div class="col-xs-3 col2">最新价</div>
                <div class="col-xs-4 col3">涨跌</div>
            </div>
            <div class="rowlist rowselData">
                <%if(selData){%>
                <%var seldata = selData.pagedata%>
                <%for(var i = 0, len = seldata.length; i < len; i++){%>
                <%var zds = seldata[i].zb%>
                <div class="rowrankData row" data-toggle="modal" data-target="#checkprogram" data-name="<%= seldata[i].name%>">
                    <div class="coinDesc col-xs-5">
                        <div class="coinDesc-co"><span><%=(seldata[i].trade_name ?seldata[i].trade_name.split('/')[0] : '')%></span>/
                            <em><%=(seldata[i].trade_name ? seldata[i].trade_name.split('/')[1] : '')%></em></div>
                        <div class="coinDesc-de"><span><%= seldata[i].bourse_name%></span><span>成交量<%= seldata[i].cjl%></span></div>
                    </div>
                    <div class="coinPrice col-xs-3"><%= seldata[i].jg_cny%></div>
                    <div class="coinMarketPrice <%if(zds >= 0){%>red<%}else{%>blue<%}%> col-xs-4"><span><%=seldata[i].zb%>%</span></div>
                </div>
                <%}%>
                <%}%>
            </div>
        </div>
    </div>
    <%- include('footer.html', {page: 'exchange'})%>
    <!--交易对增删改查 modal-->
    <%- include('exchangeProgram.html')%>
    <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/exchange.js"></script>
</div>
</body>
</html>
