<!-- 模态框（Modal） -->
<div class="modal fade" id="checkprogram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="checkCoin"><a href="javascript:void(0)">币安  BTC/USDT </a></div>
                <div class="deleteCoin"><a href="javascript:void(0)">删除自选</a></div>
                <div class="checkprogram"><a href="/detail">查看项目</a></div>
                <div class="cancelCoin"><a href="javascript:void(0)">取消</a></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>