<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title><%= title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/list.css' />
  </head>
  <body>
  <div class="app">
    <div class="navheader row">
        <div class="navheader-l col-xs-9">
            <ul class="nav nav-tabs row" role="tablist">
                <li role="presentation" class="active col-xs-6 ownlist">
                    <a href="#ownlist" aria-controls="ownlist" role="tab" data-toggle="tab">我的自选</a>
                </li>
                <li role="presentation" class="col-xs-6 myprogramlist">
                    <a href="#programlist" aria-controls="programlist" role="tab" data-toggle="tab">项目大全</a>
                </li>
            </ul>
        </div>
        <div class="navheader-r col-xs-3"><a href="/search"><img src="/public/images/searchBtn.png" alt="" /></a></div>
    </div>
    <div class="listcont tab-content">
        <div class="ownlist tab-pane active" id="ownlist" role="tabpanel">
            <div class="tableHeader row">
                <div class="col-xs-5 col1">交易对/成交量</div>
                <div class="col-xs-3 col2" id="newprice">最新价<span class="upbtn"></span></div>
                <div class="col-xs-4 col3">市值</div>
            </div>
            <div id="wrapper">
                <div id="myScrollbar">
                    <div class="rowlist" id="data1"></div>
                    <div class="pullUp"></div>
                </div>
            </div>
        </div>
        <div class="programlist tab-pane" id="programlist" role="tabpanel">
            <div class="tableHeader row">
                <div class="col-xs-2 col1">#</div>
                <div class="col-xs-4 col2">项目/成交量</div>
                <div class="col-xs-3 col3">最新价</div>
                <div class="col-xs-3 col4" id="priceBif">涨跌<span class="upbtn"></span></div>
            </div>
            <div id="wrapper1">
                <div id="myScrollbar1">
                    <div class="rowlist" id="data2"></div>
                    <div class="pullUp"></div>
                </div>
            </div>
        </div>
    </div>

  <%- include('footer.html', {page: 'list'})%>
  </div>
  <!--交易对增删改查 modal-->
  <%- include('exchangeProgram.html')%>
  <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.js"></script>
  <script type="text/javascript" src="/javascripts/list.js"></script>
  </body>
</html>
