<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title><%= title%></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/search.css' />
</head>
<body>
<div class="app">
    <div class="resultSearch">
        <form class="resultList" id="resultList">
            <div class="search-key row">
                <div class="inputkey col-xs-12">
                    <input name="inputkey" type="text" placeholder="" class="inputKeyName" id="scourceKey" disabled="disabled"/>
                    <span><img src="/public/images/searchBtn.png" alt=""/></span>
                </div>
            </div>
            <div class="listCoin">
                <div class="tableHeader row">
                    <div class="col-xs-5 col1">交易对/成交量</div>
                    <div class="col-xs-3 col2">最新价</div>
                    <div class="col-xs-4 col3">涨跌</div>
                </div>
                <div class="rowlist searchresult" id="searchResultList">
                    <%if(searchDetailData){%>
                    <%var pagedataArray = searchDetailData.pagedata%>
                    <%for(var i = 0; i < pagedataArray.length; i++){%>
                    <%var zbLish = pagedataArray[i].zb%>
                    <div class="rowrankData row">
                        <div class="coinDesc col-xs-5">
                            <div class="coinDesc-co"><span><%= pagedataArray[i].trade_name%></span></div>
                            <div class="coinDesc-de"><span><%= pagedataArray[i].bourse_name%></span><span>成交量<%= pagedataArray[i].cjl%></span></div>
                        </div>
                        <div class="coinPrice col-xs-3"><%= pagedataArray[i].jg_usd%></div>
                        <div class="coinMarketPrice <%if(zbLish >= 0){%>red<%}else{%>blue<%}%> col-xs-4"><span><%=pagedataArray[i].zb%>%</span></div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
            </div>
        </form>
    </div>
</div>
<!--交易对增删改查 modal-->
<%- include('exchangeProgram.html')%>
<script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/search.js"></script>
<script type="text/javascript" src="/javascripts/searchDetail.js"></script>
</body>
</html>
