<!-- 模态框（Modal） -->
<div class="modal fade" id="searchFrom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="searchbox" id="search">
                    <div class="search-key row">
                        <div class="inputkey col-xs-10">
                            <input name="inputkey" type="text" placeholder="" class="inputKeyName" id="inputKeyName"/>
                            <span><img src="/public/images/searchBtnCancel.png" alt=""/></span>
                        </div>
                        <div class="cancelSearch col-xs-2">取消</div>
                    </div>
                    <div class="showSearchResult">
                        <ul id="showSearchResult">
                            <li><a href="/search" class="coinCont">EOS</a></li>
                            <li><a href="/search" class="coinCont">EOS/TOL</a></li>
                            <li><a href="/search" class="coinCont">TOL</a></li>
                            <li><a href="/search" class="coinCont">OELSL</a></li>
                            <li><a href="/search" class="coinCont">BESL</a></li>
                            <li><a href="/search" class="coinCont">STOL</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>