@import "reset.css";

.app {
    height:100%;
}

.navheader {
    clear: both;
    overflow: hidden;
    padding: 10px 15px 0;
    background: #1e212a;
    margin: 0;
}

.navheader .navheader-l {
    display: inline-block;
    color: #fff;
}

.navheader-r {
    line-height: 33px;
    padding-left: 0;
}

.navheader-r a {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.navheader-r a img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.navheader-l ul {
    border-bottom: none;
    margin: 0;
}

.navheader-l ul li {
    padding: 0;
    margin: 0;
    width: 30%;
    margin-right: 30px;
}

.navheader-l ul li a {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    padding: 5px 0;
}

.navheader-l ul li.active a {
    color: #f0b90b !important;
    border: none !important;
    border-bottom: 3px solid #f0b90b !important;
    background: none !important;
}

.listcont {
   clear: both;
   overflow: hidden;
}

.listcont table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

.listcont table tr th {
    border: none;
    background: #282b36;
    padding: 8px 0;
    font-size: 13px;
    color: #999;
}

.listcont table tr td {
    border: none;
}

.ownlist .tableHeader {
    padding: 8px 15px;
    text-align: left;
    background: #282b36;
    margin: 0;
}

.ownlist .tableHeader>div {
    color: #999;
    font-size: 13px;
    padding: 0;
}

.ownlist .tableHeader .col2 {
    color: #f0b90b;
}

.ownlist .tableHeader .col2 span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.ownlist .tableHeader .col2 span.downbtn {
    background: url(/public/images/downBtn.png) no-repeat;
    background-size: contain;
    width: 8px;
    height: 11px;
}

.ownlist .tableHeader .col2 span.upbtn {
    background: url(/public/images/upBtn.png) no-repeat;
    background-size: contain;
    width: 8px;
    height: 11px;
}

.ownlist .tableHeader .col3 {
    text-align: right;
}

.rowlist {
    clear: both;
    overflow: hidden;
    padding: 0 15px;
    height: 540px;
    overflow-y: auto;
}

.rowlist .rowrankData {
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #20272c;
    margin: 0;
}

.rowlist .rowrankData .coinDesc {
    padding: 0;
}

.rowlist .rowrankData .coinDesc .coinDesc-co {
    font-size: 12px;
    color: #999;
    padding: 0;
}

.rowlist .rowrankData .coinDesc .coinDesc-co span {
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
}

.rowlist .rowrankData .coinDesc .coinDesc-de {
    clear: both;
    overflow: hidden;
    padding: 0;
    padding-top: 5px;
}

.rowlist .rowrankData .coinDesc .coinDesc-de span {
    display: inline-block;
    color: #999;
    font-size: 13px;
    margin-right: 10px;
}

.rowlist .rowrankData .coinPrice {
    padding: 10px 0 10px 10px;
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
}

.rowlist .rowrankData .coinDesc-rank {
    padding: 0;
}

.rowlist .rowrankData .coinMarketPrice {
    padding: 0;
}

.rowlist .rowrankData .coinMarketPrice span {
    display: block;
    padding: 10px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.rowlist .rowrankData .red span {
    background: #9a1e1e;
}

.rowlist .rowrankData .blue span {
    background: #4d6d0f;
}

.programlist .tableHeader {
    padding: 8px 15px;
    text-align: left;
    background: #282b36;
    margin: 0;
}

.programlist .tableHeader>div {
    color: #999;
    font-size: 13px;
    padding: 0;
}

.programlist .tableHeader .col4 {
    color: #f0b90b;
    text-align: right;
}

.programlist .tableHeader .col4 span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.programlist .tableHeader .col4 span.downbtn {
    background: url(/public/images/downBtn.png) no-repeat;
    background-size: contain;
    width: 8px;
    height: 11px;
}

.programlist .tableHeader .col4 span.upbtn {
    background: url(/public/images/upBtn.png) no-repeat;
    background-size: contain;
    width: 8px;
    height: 11px;
}

.programlist .rowrankData {
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #20272c;
}

.programlist .rowrankData .coinDesc {
    padding: 0;
}

.programlist .rowrankData .coinDesc .coinDesc-l {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 9px;
}

.programlist .rowrankData .coinDesc .coinDesc-l img {
    display: inline-block;
    width: 100%;
}

.programlist .rowrankData .coinDesc .coinDesc-r {
    float: left;
    display: inline-block;
    margin-left: 10px;
    width: 72%;
}

.programlist .rowrankData .coinDesc .coinDesc-r span {
    display: inline-block;
    color: #999;
    font-size: 13px;
    width: 100%;
}

.programlist .rowrankData .coinDesc .coinDesc-r span.fonts {
    font-size: 17px;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 10px;
}

.programlist .rowrankData .coinPrice {
    padding: 10px 0 10px 10px;
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
}

.programlist .rowrankData .coinMarketPrice {
    padding: 0;
}

.programlist .rowrankData .coinMarketPrice span {
    padding: 10px 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
}

.programlist .rowrankData .red span {
    background: #9a1e1e;
}

.programlist .rowrankData .blue span {
    background: #4d6d0f;
}

.programlist .rowrankData  .number {
    padding-top: 15px;
    padding-right: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
